
h1 {
	  border-bottom: 1px solid #ccc;
	    padding-left: 0;
	    font-size: 10px;
    }
.tab-list {
	  border-bottom: 1px solid #ccc;
	    padding-left: 0;
	    font-size: 10px;
    }

    .tab-list-item {
	      display: inline-block;
	        list-style: none;
		  margin-bottom: -1px;
		    padding: 0.5rem 0.75rem;
		    font: 10px;
	    }

	    .tab-list-active {
		      background-color: white;
		        border: solid #ccc;
			  border-width: 1px 1px 0 1px;
			  font: 10px;
		  }
